/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#page {
    margin-right: 20px;
    width: auto;
    padding: 20px;
    margin-left: 270px;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url(assets/library.jpg) no-repeat fixed;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(50,70,80,0.7);
    background-blend-mode: soft-light;
}
.footer {
    float: none;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
    position: absolute;
}
ul{
    list-style: none;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidenav {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidenav a{
    
    text-align: center;
    padding: 10px;
}
sidenav a.active {
    background-color: #04AA6D;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #d6d5d5;
    color: #fff;
}
@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidenav a {
        float: left;
        margin: 10px;
    }

    #page{
        margin: 0;
    }
    .footer {
        margin: 0;
    }
   .sidenav ul{
       display:inline;
   }
}
@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}
.sidenav h4{
    padding-left: 10px;
    padding-top: 10px;
}

/*#entrylist {
    background-blend-mode:color;
    width:auto;
    margin: auto;
}*/
.table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 20px;
}
h1{
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}