<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningDiaryLP_ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
            <div class="wrapper">
                <nav class="sidenav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <h4>Learning Diary</h4>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Topics" asp-action="Index">Check entry list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Topics" asp-action="Create">Add entry</a>
                        </li>
                        <li class="nav-item">
                            <div class="container nav-item">
                                <button type="submit" class="btn" onclick="openPopup()">Instructions</button>
                                
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
                <div class="container-fluid" id="page">
                    <main role="main" class="pb-3">
                        @RenderBody()
                        <div class="popup" id="popup">
                            <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."</p>
                            <button type="button" onclick="closePopup()">ok</button>
                        </div>
                    </main>
                </div>
        <footer class="border-top footer text-muted container-flui">
            <div class="container">
                <div class="row">
                    &copy; 2022 - Learning Diary by Lasse Parviainen
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
<script src="~/js/site.js"></script>
</body>
</html>
