@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />
<div class="container" id="homepage">
    <div class="text-center" id="homeScreen">
        <h1 class="display-4">LEARNING DIARY</h1>
    </div>
</div>


